/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap");

body {
  background: #1d976c; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #93f9b9,
    #1d976c
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #93f9b9,
    #1d976c
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.fontTitle {
  font-family: "RocknRoll One", sans-serif;
  color: white;
  text-transform: uppercase;
}
.textError {
  font-size: 1rem;
}

@media (max-width: 768px) {
  .textError {
    font-size: 0.8rem;
  }
}
